@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Josefin Sans", sans-serif;

  /* Primary */
  --color-bright-blue: hsl(220 98% 61%);
  --color-check-start: hsl(192 100% 67%);
  --color-check-end: hsl(280 87% 65%);

  /* Light Theme */
  --color-activeColor: hsl(235, 24%, 19%);
  --color-inactiveColor: hsl(252, 5%, 81%);
  --color-bgColor: hsl(240, 12%, 97%);
  --color-todo-bgColor: hsl(0, 0%, 100%);
  --color-hoverColor: hsl(244, 6%, 45%);

  --color-neutralColor: hsl(236 9% 61%);
}

@layer base {
  :root.dark {
    --color-activeColor: hsl(234 39% 85%);
    --color-inactiveColor: hsl(235, 14%, 35%);
    --color-bgColor: hsl(240, 19%, 11%);
    --color-todo-bgColor: hsl(235, 24%, 19%);
    --color-hoverColor: hsl(236 33% 92%);
  }
}

@layer components {
  .todo-rounded-md {
    @apply rounded-md sm:rounded-b-none;
  }

  .display-button {
    @apply cursor-pointer hover:text-bright-blue;
  }
}
